body {
  
  font-family: 'M PLUS 1', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DBDBDBE2;
}

code {
  font-family: 'M PLUS 1', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  
}

li{
  list-style: none;
  text-decoration: none;
}

